<%- include('./partials/head') %>
<main>
    <section class="icon-container">
        <a href="/"><section class="logo-container">
            <img class="logo-left" src="/assets/logo-white.png" alt="">
        </section></a>
        <section class="logo-container-gengar">
            
        </section>
        <a href="squada"><section class="logo-container-a">
            <p>A</p>
        </section></a>
        <a href="squadb"><section class="logo-container-b">
            <p>B</p>
        </section></a>
        <a href="squadc"><section class="logo-container-c">
            <p>C</p>
        </section></a>
        <a href="fdnd"><section class="logo-container-FDND">
            <p>FDND</p>
        </section></a>
        <section class="logo-container-FDND">
            <ion-icon name="heart" size="large"></ion-icon>
        </section>
        <section class="logo-container-plus">
            <ion-icon name="add-outline" size="large"></ion-icon>
        </section>
        <section class="logo-container-compass">
            <ion-icon name="compass-outline" size="large"></ion-icon>
        </section>
    </section>
    <section class="content">
        <section class="friend-container">
            <ion-icon name="people-outline" size="large" class="friends"></ion-icon>
            <p>Friends</p>
        </section>
        <section class="messages">
            <p class="messages-text">Direct Messages</p>
        </section>
    </section>
    <section class="block-container">
        <table>
            <tbody>
                <tr>
                    <th>
                        Student naam
                    </th>
                    <th>
                        GithubHandle
                    </th>
                    <th>
                        Nickname
                    </th>
                </tr>
                <--! for each loop zodat er iets komt voor elke member -->
                <% squad.members.forEach(member => { %>
                <tr>
                    <td class="align">
                    <--! Hier word er gekeken of er een image gepost is, zo niet dan word een standaard image gebruikt -->
                        <% if (member.avatar) { %><img src="<%= member.avatar %>" alt="avatar <%= member.name %>" class="avatar-image"><% }else{ %><img
                            src="/assets/gengar.jpg" alt="avatar <%= member.name %>" class="avatar-image"><% } %><%= member.name %>
                    </td>
                    <td>
                        <%= member.gitHubHandle %>
                    </td>
                    <td>
                        <%= member.nickname %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
</main>

<%- include('./partials/foot') %>
